
name: Upload to Selectel

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Sync with Seleclel
        uses: Jnqa/upload-to-s3-selectel@main
        with:
          dirname: lab
          bucketname: jnqa-test
          s3dirname: lab-catalog
          AWS_ACCESS_KEY_ID_SELECTEL: ${{ secrets.AWS_ACCESS_KEY_ID_SELECTEL }}
          AWS_SECRET_ACCESS_KEY_SELECTEL: ${{ secrets.AWS_SECRET_ACCESS_KEY_SELECTEL }}
          # ENDPOINT: https://s3.selcdn.ru
          # SELECTEL_URL: https://6a39d29f-7919-4a2c-b54e-f8066f9effbb.selcdn.net--no
